/* header */
.header {
  margin: 0 auto;
  width: 1500px;
  height: 100px;
}
.container-header {
  margin: 0 auto;
  width: 1500px;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.container {
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo-bob {
  text-decoration: none;
  font-size: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
  color: yellow;
}
.span {
  color: black;
}
.span:hover,
:focus {
  color: yellow;
  transition-duration: 350ms;
  transition-delay: 250ms;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.list-link {
  display: flex;
  justify-content: center;
  list-style: none;
}
.gap-link {
  margin-right: 15px;
}
.link {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: italic;
}
.link:hover,
:focus {
  color: black;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 150ms;
}
.list-adress {
  display: flex;
  justify-content: center;
  list-style: none;
}
.gap-adress {
  margin-right: 15px;
}
.adress {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: italic;
}
.adress:hover,
:focus {
  color: chartreuse;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 150ms;
}

.list-social {
  list-style: none;
  display: flex;
  justify-content: center;
}
.li-icon {
  margin-right: 14px;
}
.icon-social {
  stroke: black;
  fill: chocolate;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 150ms;
}
.icon-social:hover,
:focus {
  stroke: chocolate;
  fill: black;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 150ms;
}
/* section-one */
.section-one {
  width: 100%;
  height: 1500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/spongebob.webp);
  margin-bottom: 120px;
}

.title {
  text-align: center;
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
  color: coral;
  text-shadow: 30cm;
}
/* section-two */
.section-two {
  margin-bottom: 120px;
}
.container-two {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.container-save {
  margin-top: 50px;
  margin-right: 50px;
  width: 500px;
  height: 300px;
  border: solid 1px;
  border-radius: 10px;
  border-color: blue;
}
.container-save:hover,
:focus {
  border-color: chocolate;
}
.title-two {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: coral;
}
.comment {
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  text-decoration: wavy;
  font-style: italic;
  color: coral;
}
.icon-bob {
  fill: darkgoldenrod;
}
.icon-patric {
  fill: palevioletred;
}
.icon-sqwuidward {
  fill: gray;
}
.icon-sandy {
  fill: chocolate;
}
.icon:hover,
:focus {
  cursor: pointer;
  fill: blue;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 150ms;
}
/* section-three */
.section-three {
  margin: 0 auto;
  margin-bottom: 120px;
  background-color: aqua;
}
.com {
  visibility: hidden;
}
.sponge {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
}

.box {
  position: relative;
  width: 100%;
  height: 1000px;
  background-image: url(../images/gubka-bob-kvadratnye-shtany.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container-three {
  margin: 0 auto;
}
.title-portfolio {
  color: brown;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
}

.list-button {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 20px;
}
.gap-button {
  margin-right: 10px;
}
.button {
  cursor: pointer;
  background-color: cornflowerblue;
  border-color: blue;
  border-radius: 7px;
  font-style: italic;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: azure;
  width: 150px;
  height: 40px;
}
.button:hover,
:focus {
  background-color: aqua;
  transition-duration: 350ms;
  transition-delay: 250ms;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.list-pictures {
  justify-content: center;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
.gap-picture {
  margin-right: 20px;
  margin-bottom: 20px;
}
.container-bob {
  position: relative;
  width: 500px;
  height: 400px;
  border: solid 1px;
  border-radius: 5px;
  border-color: blue;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}
.container-bob:hover,
:focus {
  transition-duration: 400ms;
  transition-delay: 250ms;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  border-color: yellow;
}
.text-transform {
  width: 100%;
  height: 100%;
  top: 0;
  transform: translateY(100%);
  transition-duration: 350ms;
  transition-delay: 250ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: absolute;
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: italic;
  color: blue;
}
a:hover .text-transform {
  transform: translateY(0%);
}
a:focus .text-transform {
  transform: translateY(0%);
}
/* footer */
.footer {
  background-color: aquamarine;
}
.container-footer {
  align-items: baseline;
  display: flex;
  width: 100%;
}
.container-logo {
  margin-right: 90px;
}
.conteiner-footer-social {
  margin-right: 90px;
}
.comment-two {
  color: black;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
}
.icon-footer {
  list-style: none;
  display: flex;
  padding: 0;
}
.icon-end {
  fill: aliceblue;
}
.icon-ecllipse {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border-radius: 50%;
}
.icon-ecllipse:hover {
  background-color: rgb(214, 79, 158);
  transition-duration: 560ms;
  transition-delay: 250ms;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
